<section class="container-p-y container-xxl flex-grow-1">
  <div class="d-flex align-items-end justify-content-end">
    <a href="/admin/add-product">
      <button type="button" class="btn rounded-pill btn-outline-success my-3">
        <span class="tf-icons bx bx-cart"></span>
        Add Products
      </button>
    </a>
  </div>
  <div class="card">

    <h5 class="card-header">All Admin Products</h5>

    <div class="table-responsive text-nowrap p-4">
      <table id="productTable" class="table p-3" style="width:100%">
        <thead>
          <tr>
            <th>Sl no.</th>
            <th>Name</th>
            <th>Price</th>
            <th>Images</th>
            <th>Stocks</th>
            <th>Category</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          {{#each products}}
          <tr>
            <td>{{inc @index}}</td>
            <td>{{name}}</td>
            <td>{{price}}</td>
            <td>
              <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-start">
                <li class="avatar avatar-xl pull-up">
                  <img src="/public/product-images/{{images.[0]}}" alt="productImage" />
                </li>
              </ul>
            </td>
            <td><span class="badge bg-label-success me-1">stocks</span></td>
            <td><span class="badge bg-label-primary me-1">{{category}}</span></td>
            <td>
              <a href="/admin/edit-product?id={{_id}}">
                <button type="button" class="btn rounded-pill btn-icon btn-outline-primary">
                  <span class="tf-icons bx bx-edit"></span>
                </button>
              </a>
              <a onclick="return confirm('Are you sure to delete')" href="/admin/delete-Adminproduct?id={{_id}}">
                <button type="button" class="btn rounded-pill btn-icon btn-outline-danger">
                  <span class="tf-icons bx bx-trash"></span>
                </button>
              </a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</section>
<script>
  $(document).ready(function () {
    $('#user_table').wrap('<div id="hide" style="display:none"/>');
    $('#hide').css('display', 'block');
  });
  var table = $('#productTable').DataTable();
</script>