{{#if banners}}

<!-- Slider -->
<section class="section-slide">
  <div class="wrap-slick1">
    <div class="slick1">
      {{#each banners}}
      <div class="item-slick1" style="background-image: url(/public/product-images/{{bannerImage}});">
        <div class="container h-full">
          <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
            <div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
              <span class="ltext-101 cl2 respon8"
                style="font-family: 'Poppins', sans-serif; font-weight: 700;color: {{textColor}};">
                {{subText}}
              </span>
            </div>

            <div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
              <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1"
                style="font-family: 'Poppins', sans-serif; font-weight: 700;color: {{textColor}};">
                {{mainText}}
              </h2>
            </div>

            <div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
              <a href="{{url}}" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                Shop Now
              </a>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>

  </div>
</section>

{{/if}}
<!-- Banner -->
<div class="sec-banner bg0 p-t-80 p-b-50">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
        <!-- Block1 -->
        <div class="block1 wrap-pic-w">
          <img style="object-fit: cover; height: 20rem;" src="/public/codeStoreImages/men.png" alt="IMG-BANNER" />

          <a href="#" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
            <div class="block1-txt-child1 flex-col-l">
              <span class="block1-name ltext-102 trans-04 p-b-8">
                Mens
              </span>

              <span class="block1-info stext-102 trans-04">
                Spring 2022
              </span>
            </div>

            <div class="block1-txt-child2 p-b-4 trans-05">
              <div class="block1-link stext-101 cl0 trans-09">
                Shop Now
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
        <!-- Block1 -->
        <div class="block1 wrap-pic-w">
          <img style="object-fit: cover; height: 20rem;" src="/public/codeStoreImages/women.png" alt="IMG-BANNER" />

          <a href="#" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
            <div class="block1-txt-child1 flex-col-l">
              <span class="block1-name ltext-102 trans-04 p-b-8">
                Womens
              </span>

              <span class="block1-info stext-102 trans-04">
                Spring 2022
              </span>
            </div>

            <div class="block1-txt-child2 p-b-4 trans-05">
              <div class="block1-link stext-101 cl0 trans-09">
                Shop Now
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
        <!-- Block1 -->
        <div class="block1 wrap-pic-w">
          <img style="object-fit: cover; height: 20rem;" src="/public/codeStoreImages/kid.png" alt="IMG-BANNER" />

          <a href="#" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
            <div class="block1-txt-child1 flex-col-l">
              <span class="block1-name ltext-102 trans-04 p-b-8">
                Kids
              </span>

              <span class="block1-info stext-102 trans-04">
                New Trends
              </span>
            </div>

            <div class="block1-txt-child2 p-b-4 trans-05">
              <div class="block1-link stext-101 cl0 trans-09">
                Shop Now
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Product -->
<section class="bg0 p-t-23 p-b-140">
  <div class="container">
    <div class="p-b-10">
      <h3 class="ltext-103 cl5">
        Product Overview
      </h3>
    </div>

    <div class="flex-w flex-sb-m p-b-52">
      <div class="flex-w flex-l-m filter-tope-group m-tb-10">
        <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
          ALL PRODUCTS
        </button>
        {{#each categories}}
        <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".{{this.name}}">
          {{this.name}}
        </button>
        {{/each}}


      </div>



      <!-- Filter -->

    </div>

    <div class="row isotope-grid">
      {{#each products}}

      <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item {{category}}">
        <!-- Block2 -->
        <div class="block2">
          <div class="block2-pic hov-img0">
            <img style="height: 25rem; object-fit: cover;" src="/public/product-images/{{images.[0]}}"
              alt="IMG-PRODUCT" />
            <a href="/product-details?id={{_id}}"
              class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
              View
            </a>
          </div>

          <div class="block2-txt flex-w flex-t p-t-14">
            <div class="block2-txt-child1 flex-col-l">
              <a href="/product-details?id={{_id}}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                {{name}}
              </a>

              <span class="stext-105 cl3">


                <span style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> ₹
                </span> {{price}}
              </span>
            </div>

            <div class="block2-txt-child2 flex-r p-t-3">
              <div onclick="addToWishList('{{_id}}')" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                <img  class="icon-heart1 dis-block trans-04 " src="/public/assets/images/icons/icon-heart-01.png"
                  alt="ICON" />
                <img  class="icon-heart2 dis-block trans-04 ab-t-l" src="/public/assets/images/icons/icon-heart-02.png"
                  alt="ICON" />
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    <!-- Load more -->
    <div class="flex-c-m flex-w w-full p-t-45">
      <a href="/products" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
        Load More
      </a>
    </div>
  </div>
</section>
<script>
  function addToWishList(proId) {
    $.ajax({
      url: '/add-to-wishlist',
      data: {
        productId: proId
      },
      method: 'post',
      success: (response) => {
        if (response.login) {
          if (response.status) {
            Swal.fire({
              text: 'Item added to Wishlist',
              target: '#custom-target',
              customClass: {
                container: 'position-absolute'
              },
              toast: true,
              position: 'bottom-right'
            })
          } else {
            Swal.fire({
              text: 'Item removed from Wishlist',
              target: '#custom-target',
              customClass: {
                container: 'position-absolute'
              },
              toast: true,
              position: 'bottom-right'
            })
          }
          $("#icons").load(window.location.href + " #icons");
          $("#icons1").load(window.location.href + " #icons1");
        } else {
          Swal.fire({
            text: 'Please Signin',
            target: '#custom-target',
            customClass: {
              container: 'position-absolute'
            },
            toast: true,
            position: 'bottom-right'
          })
        }

      }
    })
  }
</script>